/**
 * @name Anime girl with cat
 * @author Request
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/48765-anime_girl.html
 * @authorLink https://vsthemes.org/user/Request/
 * @authorId 2
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 72,72,72;
    --background: url("https://vsthemes.org/uploads/posts/2022-01/1641374644_8c3f43d2f2a7d9f4b7a17e1a34da6a43.png");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}