/**
 * @name Shirakami Fubuki v.5
 * @author snemak 666
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/48928-shirakami-fubuki-v5.html
 * @authorLink https://vsthemes.org/user/snemak+666/
 * @authorId 59611
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.4;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 48,184,238;
    --background: url("https://vsthemes.org/uploads/posts/2022-01/1641812315_thumb-1920-1180468.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}