/**
 * @name pink skull
 * @author DELETED
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/37501-pink-skull.html
 * @authorLink https://vsthemes.org/user/DELETED/
 * @authorId 2
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.05;
    --messagetransparency: 0.15;
    --guildchanneltransparency: 0.1;
    --memberlistransparency: 0;
    --accentcolor: 230,0,255;
    --background: url("https://vsthemes.org/uploads/posts/2021-09/1630654004_1625112917_26-phonoteka_org-p-neonovii-cherep-oboi-krasivo-29.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}